
@{
    ViewBag.Title = "Creditos";
}

<h2>Creditos</h2>
<br>
<br>

<div class="row">

    <div class="panel">
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>CESAR DANIERL RODRIGUEZ CASTRO</h4>
        <h4>COD: 13100582</h4>
    </div>
    <div class="panel">
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>CESAR RISCO CHAVEZ</h4>
        <h4>COD: 13100562</h4>
    </div>
    <div class="panel">
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>ABRAHAM SALOMON ZAMUDIO MENDOZA</h4>
        <h4>COD: </h4>
    </div>
    <div class="panel">
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>ROBERT INSIL GUEVARA</h4>
        <h4>COD: </h4>
    </div>

</div>
